@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,600;1,400&display=swap');


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(211, 228, 235);
}

.header {
    margin-top: 20px;
    margin-left: 20px;
}

header p {
    font-size: 150%;
    margin-left: 50px;
}

/* Style hero page */

.container {
    margin-top: 59px;
}

#start_button {
  transition: all 0.3s ease;
}
.btn-red {
    background-color: var(--red);
    color: var(--white);
    margin-top: 10px;
    margin-bottom: 30px;
}

.hero-image {
    width: 90vh;
    height: 46vh;
}

.btn-red:hover {
    color: var(--dark-gray);
}

.hero-btn {
    box-shadow: 1px 9px 26px -4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 1px 9px 26px -4px rgba(0, 0, 0, 0.66);
}

.bg-red {
    background-color: var(--red);
}
.custom-border {
    border: var(--red) 1px solid;
    border-radius: 20px;
    box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
}

.text-red {
    color: var(--red);
}

.text-brown {
    color: var(--white);
}

.custom-icon i {
    font-size: 50px;
    color: var(--red);
}

#infomation.activeInfo {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
/* End hero page */

.game_info_list {
    position: absolute;
    margin-top: 188px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.rules {
    width: 27vh;
    margin-bottom: 35px;
}

.guess-the-world {
    position: absolute;
    margin-top: 187px;
    width: 100%;
    height: 662px;
    background-color: rgb(211, 228, 235);
    opacity: 0;
    pointer-events: none;

}

.wrapper{
    width: 430px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  }
  .wrapper h1{
    font-size: 25px;
    font-weight: 500;
    padding: 20px 25px;
    border-bottom: 1px solid #ccc;
  }
  .wrapper .content{
    margin: 25px 25px 35px;
  }
  .content .inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .inputs input{
    height: 57px;
    width: 56px;
    margin: 4px;
    font-size: 24px;
    font-weight: 500;
    color: #1ba98c;
    text-align: center;
    border-radius: 5px;
    background: none;
    /*pointer-events: none;*/
    text-transform: uppercase;
    border: 1px solid #B5B5B5;
  }
  .typing-input {
    /*opacity: 0;*/
    z-index: -999;
    position: absolute;
    /*pointer-events: none;*/
  }
  .inputs input:first-child{
    margin-left: 0px;
  }
  .content .details{
    margin: 20px 0 25px;
  }
  .details p{
    font-size: 19px;
    margin-bottom: 10px;
  }
  .content .reset-btn{
    width: 100%;
    border: none;
    cursor: pointer;
    color: #fff;
    outline: none;
    padding: 15px 0;
    font-size: 17px;
    border-radius: 5px;
    background: #1BB295;
    transition: all 0.3s ease;
  }
  .content .reset-btn:hover{
    background: #18a589;
  }

  @media screen and (max-width: 460px) {
    .wrapper {
      width: 100%;
    }
    .wrapper h1{
      font-size: 22px;
      padding: 16px 20px;
    }
    .wrapper .content{
      margin: 25px 20px 35px;
    }
    .inputs input{
      height: 51px;
      width: 50px;
      margin: 3px;
      font-size: 22px;
    }
    .details p{
      font-size: 17px;
    }
    .content .reset-btn{
      padding: 14px 0;
      font-size: 16px;
    }
  }

@media (min-width: 1200px) {
    .header {
        margin-top: 20px;
        margin-left: 620px;
    }

    header p {
        font-size: 150%;
        margin-left: 650px
    }

    .hero-image {
        margin-left: 10px;
        width: 80vh;
    }

    .btn-red {
        margin-right: 120px;
        margin-bottom: 10px;
    }

    .rules{
        width: 60vh;
        height: 50vh;
    }

    .game_info_list {
        margin-top: 188px;
        margin-left: 230px;
    }

    .guess-the-world {
        margin-top: 187px;
        margin-left: 230px;
        height: 0px;
    }

}