@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,600;1,400&display=swap');


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.header {
  font-size: 35px;
    margin-top: 20px;
    margin-left: 40px;
}

header p {
    font-size: 130%;
    margin-left: 50px;
}

/* Style hero page */
.start_game {
  position: relative;
  width: 90%;
  height: 680px;
  background: #1a70e0;
  color: white;
  margin-top: 30px;
  margin-left: 10px;
}

.heading, .heading2 {
  margin-top: 30px;
  font-size: 20px;
}
.logo {
  width: 90%;
  height: 160px;
  margin-top: 40px;
  margin-left: 20px;
}

.game_info_list.activeInfo,
.quiz_box.activeQuiz {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.start-btn {
  margin-left: 120px;
  margin-top: 50px;
  transition: all 0.3s ease;
}

.start-btn:hover {
  background: #252525;
  color: #fff;
}

.game_info_list {
  position: absolute;
  width: 90%;
  height: 700px;
  background: #05611c;
  color: white;
  margin-top: 480px;
  margin-left: 185px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.game_info_list img {
  width: 20vh;
  margin-top: 10px;
  margin-left: 85px;
}

.game_info {
  font-size: 15px;
  margin: 5px;
  padding: 1px;
  text-align: left;
  margin-top: 10%;
}

.game_info_list .buttons {
  margin-left: 70px;
  border-radius: 5px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;

}

/* Hover button */

.buttons button.exit:hover {
  background: #d30707;
  color: #fff;
}

.buttons button.continue:hover {
  background: #08ac16;
  color: #fff;
}

/* Word Guess Game */
.quiz_box {
  position: absolute;
  margin-top: 480px;
  margin-left: 185px;
  width: 95%;
  height: 700px;
  background: #18a589;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  

}

.wrapper{
  width: 330px;
  height: 550px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.wrapper h1{
  font-size: 25px;
  font-weight: 500;
  padding: 20px 25px;
  border-bottom: 1px solid #ccc;
}
.wrapper .content{
  margin: 25px 25px 35px;
}
.content .inputs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inputs input{
  height: 57px;
  width: 56px;
  margin: 4px;
  font-size: 24px;
  font-weight: 500;
  color: #1ba98c;
  text-align: center;
  border-radius: 5px;
  background: none;
  pointer-events: none;
  text-transform: uppercase;
  border: 1px solid #B5B5B5;
}
.typing-input {
  opacity: 0;
  z-index: -999;
  position: absolute;
  pointer-events: none;
}
.inputs input:first-child{
  margin-left: 0px;
}
.content .details{
  margin: 20px 0 25px;
}
.details p{
  font-size: 19px;
  margin-bottom: 10px;
}
.content .reset-btn{
  width: 100%;
  border: none;
  cursor: pointer;
  color: #fff;
  outline: none;
  padding: 15px 0;
  font-size: 17px;
  border-radius: 5px;
  background: #d30707;
  transition: all 0.3s ease;
}
.content .reset-btn:hover{
  background: #18a589;
}


/* Media query for tablets and larger (750 px and up) */
@media screen and (min-width: 750px) {
  .start_game {
      width: 70%;
      height: 580px;
      margin-top: 110px;
      margin-left: 120px;
  }

  .heading {
      font-size: 40px;
  }

  .logo {
      width: 70%;
      height: 200px;
      margin-top: 40px;
      margin-left: 65px;
  }
  
  .start-btn {
      margin-left: 220px;
  }

  .game_info_list {
      width: 90%;
      height: 1280px;
      margin-top: 110px;
      margin-left: 20px;
  }
  
  .game_info_list img {
      width: 30vh;
      margin-left: 205px;
  }
  
  .game_info {
      font-size: 28px;
      margin: 30px;
      padding: 1px;
  }
  
  .game_info_list .buttons {
      margin-left: 200px;
  }
}

  /* Media query for tablets and larger (1200 px and up) */
@media screen and (min-width: 1200px) {
  .header {
    margin-top: 20px;
    margin-left: 620px;
}

header p {
    font-size: 150%;
    margin-left: 650px
}

  .start_game {
      width: 60vw;
      margin-left: 20%;
  }

  .heading {
      font-size: 200%;
      margin-top: 70px;
  }
  
  .heading2 {
      margin-left: 230px;
  }
  
  .logo {
      width: 70%;
      height: 230px;
      margin-top: 70px;
      margin-left: 230px;
  }
  
  .start-btn{
      position: relative;
      margin-top: 70px;
      margin-left: 410px;
      width: 20%;
      height: 40px;
  }

  .game_info_list {
      width: 65%;
      height: 650px;
      margin-top: 499px;
      margin-left: 780px;
  }
  
  .game_info_list img {
      width: 30vh;
      margin-top: 10px;
      margin-left: 412px;
  }
  
  .game_info {
      font-size: 20px;
      margin: 30px;
      padding: 1px;
  }
  
  .game_info_list .buttons {
      margin-left: 400px;
  }

  .quiz_box {
    margin-top: 220px;
    margin-left: 710px;
    height: 0px;
}

.wrapper{
  width: 630px;
  height: 550px;
}
}